body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family:Arial; 
	font-size:8pt;
	color: #4AA8D7;
}
#content {
	z-index:1;
	color: #4AA8D7;
}
#logo {
	margin-top:4px;
	margin-left:15px;
}
